/*******
 * CSD *
 *******/
.titlebar {
    border-radius: 0 0 0 0;
    background-image: none;
    background-color: @dark_color;
    color: #ffffff;
    text-shadow: none;
}

.titlebar:insensitive {
    border-radius: 0 0 0 0;
    background-image: none;
    background-color: @light_color;
    color: @wm_title_unfocused;
    text-shadow: none;
}

/* this is the default titlebar that is added by GTK
 * when client-side decorations are in use and the application
 * did not set a custom titlebar.
 */
.titlebar.default-decoration {
    border: none;
    box-shadow: none;
}

.titlebar {
    color: white;
}

.titlebar .title, .titlebar .subtitle {
    color: white;
}

.titlebar .title {
    font: bold;
}

.titlebar:insensitive .title, .titlebar:backdrop .title, .titlebar:insensitive .subtitle, .titlebar:backdrop .subtitle {
    color: @wm_title_unfocused;
}

.titlebar:backdrop {
    background-image: none;
    background-color: @light_color;
    color: @wm_title_unfocused;
    text-shadow: none;
}

.titlebar:backdrop:insensitive {
    background-image: none;
    background-color: @light_color;
    color: @wm_title_unfocused;
    text-shadow: none;
}

.titlebar .titlebutton {
    padding: 6px 6px;
    border-style: none;
    background: none;
    color: #ffffff;
    icon-shadow: none;
}

.titlebar .titlebutton:hover,
.titlebar .titlebutton:hover:focus {
    background: none;
    color: @menu_selected_fg_color;
}

.titlebar .titlebutton:active,
.titlebar .titlebutton:active:hover {
    background: none;
    color: @menu_selected_fg_color;
    box-shadow: none;
}

/*
.titlebar .right .titlebutton:first-child {
    border-left: 1px solid shade(wm_bg, 0.9);
}

.titlebar .right .titlebutton:last-child {
}

.titlebar .left .titlebutton:last-child {
    border-right: 1px solid shade(wm_bg, 0.9);
}

.titlebar .left .titlebutton:first-child {
}
*/

.titlebar .titlebutton:backdrop {
    background-image: none;
    color: @wm_icons_unfocused;
    icon-shadow: none;
}

.titlebar .button:backdrop {
    background-image: none;
    color: @wm_icons_unfocused;
    icon-shadow: none;
}

.titlebar .button {
    padding: 6px 6px;
    background-color: transparent; /*makes it practically transparent*/
    color: #ffffff;
}

.titlebar .button:hover {
    background-color: transparent;
    color: @wm_icons_focused_prelight;
}

.titlebar .button:active:hover {
    background-color: transparent;
    color: shade(@wm_icons_focused_prelight, 0.87);
}

.titlebar:backdrop .button:active,
.titlebar:backdrop .button:checked {
    background-color: transparent;
    color: @menu_selected_fg_color;
}


.titlebar .button:active,
.titlebar .button:checked {
    background-color: transparent;
    color: @wm_icons_focused_prelight;
}

.titlebar .separator {
    border-color: shade(@dark_color, 0.87);
    color: shade(@dark_color, 0.87);
}

.window-frame {
    border: none;
    /*box-shadow: 0 3px 7px 1px alpha(black, 0.7),
                0 0 0 1px mix(shade(wm_bg, 0.7), @wm_title_focused, 0.21);

    this is used for the resize cursor area */

    box-shadow: 0 3px 5px 1px alpha(black, 0.7),
                0 0 0 1px mix(shade(@dark_color, 0.7), @dark_color, 0.12);
    margin: 10px;
}

.window-frame:backdrop {
    box-shadow: 0 3px 5px 1px alpha(black, 0.7),
                0 0 0 1px mix(shade(@dark_color, 0.7), @dark_color, 0.12);
}
